@import 'vars';
@import 'reset';
@import 'global';

#wrapper {
  content: '';
  width: 100vw;
  height: 100vh;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 55px 165px 100px 165px;
  z-index: 1;
}
.date-card {
  margin-right: 16px;
}
.quote {
  transition: all 0.8s;
}
.card-container {
  display: flex;
  max-width: 575px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}
.card-quote__item {
  display: none;
}
.card__btn svg path {
  transition: all 0.8s;
}
.card__btn svg path:hover,
.card__btn svg path:active {
  opacity: 1;
  fill: #ffffff;
}
.card-control {
  padding: 5px;
}
.date-card {
  display: flex;
}

.quote-form-block {
  max-width: 540px;
}
.card__btn {
  width: 17px;
  height: 17px;
  border: 0;
  margin-top: 5px;
}
.quote-form-block__text {
  margin-bottom: 15px;
}
.quote-form-caption {
  font-weight: 700;
}
.date-timezone {
  display: flex;
  align-items: flex-end;
}
.date-head {
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;

  align-items: flex-end;
  letter-spacing: -5px;
  margin-right: 7px;
}
.date-zone {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.date-zone .date-zone__text {
  font-weight: 300;
}
.date-container {
  margin: 0;
}
.top_good {
  padding-left: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 16px;
}
.date-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 28px;
  padding: 7px 16px 7px 16px;
  width: 145px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;

  .date-img__img {
    width: 40px;
    height: 40px;
    background: #303030;
    border-radius: 50%;
    border: 0;
    padding: 15px 12px;
    transition: all 0.8s;
    &:hover {
      background: #999999;
    }
  }
}
.date-btn.active:before {
  content: 'less';
  color: #808080;
  margin-right: 11px;
  margin-left: 15px;
}

.date-btn:not(.active)::before {
  content: 'more';
  color: #808080;
  margin-right: 10px;
  margin-left: 10px;
}
// .date-btn__text.active-btn {
//   content: 'less';
// }
.date-img__img.active {
  transform: rotate(180deg);
  margin-bottom: 2px;
}
.hide {
  display: none;
  transition: all 0.8s;
  width: 100vw;
  z-index: 10;
  padding: 55px 165px 100px 165px;
}
.hide.active {
  display: block;
}
.quote.active {
  display: none;
}
.date-vision {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.date-hidden {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: 1fr 1fr;
}
.head-d {
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.zone-d {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
}
.date-d {
  margin-bottom: 42px;
}
.date-long {
  opacity: 0.25;
  border: 1px solid #303030;
}
.date-d-right {
  margin-left: 100px;
}
.date-d-left {
  margin-right: 100px;
}
@import './components/media';
